.user-settings__button {
    color: var(--font-color);

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: none;
    border: none;
    border-radius: 15px;
    outline: none;

    padding: 10px 20px;

    width: 100%;
    height: 50px;

    cursor: pointer;
}

.user-settings__button:hover { 
    background-color: var(--profile-loss-color);
}

.user-settings__button P {
    flex: 1 1 auto;
    text-align: center;
}

.user-settings__button img {
    width: 30%;
}