@import url('https://fonts.googleapis.com/css2?family=Yaldevi:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yaldevi", sans-serif;
    /* outline: 2px solid red; */
}

html, body {
    min-height: 100vh;
    min-width: 100vw;

    overflow: hidden;
}