:root {
    --main-bg-color: rgb(24, 24, 32);
    --main-orange: #FF6E40;
    --font-color: white;

    --nav-bg-color: rgb(33, 33, 43);
    --nav-hover-bg-color: rgb(39, 39, 50);

    --card-color: #1B1B27;
    --card-img-bg-color: #222436;
    --category-font-color: rgb(73, 73, 73);

    --disabled-checkbox-bg-color: rgb(35, 35, 46);
    --disabled-checkbox-color: rgb(53, 53, 68);
    --active-checkbox-bg-color: #fcaf98;

    --profile-orange-opacity: rgba(255, 110, 64, .25);
    --profile-loss-color: #262641;
}

::-webkit-scrollbar {
    width: 0;
}


#root,
.app {
    min-width: 100vw;
    min-height: 100vh;
}

.app {
    display: flex;
}

.app.lightMode {
    --main-bg-color: #FAFAFA;
    --font-color: black;

    --nav-bg-color: #EAEAEA;
    --nav-hover-bg-color: #DCDCDD;

    --card-color: #F0F0F0;
    --card-img-bg-color: #E0E0E0;

    --disabled-checkbox-bg-color: rgb(212, 212, 212);
    --disabled-checkbox-color: rgb(190, 190, 190);

    --profile-loss-color: #d3d3d3;
}

main {
    flex: 1 1 auto;
    background-color: var(--main-bg-color);

    transition: all .2s;
}

.app-loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    color: var(--font-color);
}

.app-loading p {
    font-size: 20px;
}

.loader {
    width: 48px;
    height: 48px;

    display: inline-block;
    position: relative;

    border-radius: 50%;
    border: 3px solid;
    border-color: var(--font-color) var(--font-color) transparent;

    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;

    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;

    border: 3px solid;
    border-color: transparent var(--main-orange) var(--main-orange);
    border-radius: 50%;

    width: 24px;
    height: 24px;
    
    animation: rotationBack 0.5s linear infinite;
    transform-origin: center center;
}

@keyframes rotation {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}


@media (width < 630px) {
    .app {
        flex-direction: column;
    }

    .nav {
        position: fixed;
        bottom: -5px;

        order: 2;
        width: 100%;
        height: 65px;
        padding: 0;
    }

    .nav__menuList ul {
        flex-direction: row;
        justify-content: space-evenly;
    }


    .nav__title {
        display: none;
    }

    .nav__menuList ul li {
        height: 65px;
    }

    .nav__menuList ul li a {
        height: 100%;
    }

    .nav__menuList ul li img {
        width: 30px;
        height: auto;
    }

    .nav__menuList ul li p {
        display: none;
    }

    .nav__list-item_active::after {
        top: auto;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 80%;
        height: 5px;
    }

    main {
        flex: 0 0 auto;
        width: 100%;
        height: calc(100vh - 55px);
    }
}